In [2]:
import json

In [3]:
import pandas as pd

In [4]:
from pandas.io.json import json_normalize

In [5]:
data = json.load(open('jason_Cap.json'))

In [6]:
data_serialized = json.dump(data, open('data.json', "w"), seperator = (':'))

TypeError: __init__() got an unexpected keyword argument 'seperator'

In [7]:
print(type(data_serialized))

NameError: name 'data_serialized' is not defined

In [8]:
print(data['ClientDetails'])

{'ECIF2106147717': {'Address': [{'PostalAddress': {'PostalCode': 'A2H 1E4', 'City': 'CORNER BROOK', 'Province': 'NL'}}], 'ECIFID': '2106147717', 'TotalHHIncomeYrly': 84000.0, 'SaveAcctRef': '', 'CNW': {'IncomeList': [{'BizBankAcctRef': '', 'BusinessType': '', 'LengthOfEmp': '0705'}]}, 'EnrichedData': {'UpdateDate': '', 'PhoneNumber': '', 'CustomerType': 'P'}, 'TotalMthlyExpenses': 242, 'CBR': {'OutputFormatCode': 'E', 'DepositAlertFlag': 'N', 'SegmentID': 'FULL', 'DateReported': '20200206', 'SafeScanCode2': '', 'TradeDetails': [{'DateOpened': '20120201', 'AutoDataInd': '', 'MonthPastDue': '00', 'DateReported': '20200101', 'SegmentID': 'TC', 'NoOfMthsReviewed': '01', 'Terms': '0066', 'ThreeMonthsPastDue': '00', 'NarrativeCode': ['EX', 'AZ'], 'PastDueAmount': '0', 'AccountType': 'R', 'DateLastActivity': '20200201', 'AccountNumber': '745238675880885', 'pyID': 'TD8', 'ForeignBureauCode': '', 'TradeBalance': '0120', 'RateCode': [{'Rating': '1'}], 'Phone': {'Extension': '', 'AreaCode': 888, 'PhoneNumber': '3316133'}, 'AcctDesignatorCode': 'I', 'MemberName': 'DUO BANK', 'TwoMonthsPastDue': '00', 'MemberCode': '650ON42592', 'HighCredit': '20000'}, {'DateOpened': '20080201', 'AutoDataInd': '', 'MonthPastDue': '00', 'DateReported': '20200101', 'SegmentID': 'TC', 'NoOfMthsReviewed': '01', 'Terms': '0066', 'ThreeMonthsPastDue': '00', 'NarrativeCode': ['EX', 'AZ'], 'PastDueAmount': '0', 'AccountType': 'R', 'DateLastActivity': '20200201', 'AccountNumber': '745238610000885', 'pyID': 'TD11', 'ForeignBureauCode': '', 'TradeBalance': '0120', 'RateCode': [{'Rating': '1'}], 'Phone': {'Extension': '', 'AreaCode': 888, 'PhoneNumber': '3316133'}, 'AcctDesignatorCode': 'I', 'MemberName': 'DUO BANK', 'TwoMonthsPastDue': '00', 'MemberCode': '650ON42592', 'HighCredit': '20000'}, {'DateOpened': '20160101', 'AutoDataInd': '', 'MonthPastDue': '00', 'DateReported': '20190201', 'SegmentID': 'TC', 'NoOfMthsReviewed': '', 'Terms': '2243', 'ThreeMonthsPastDue': '00', 'NarrativeCode': ['EX', 'AZ'], 'PastDueAmount': '0', 'AccountType': 'R', 'DateLastActivity': '20170101', 'AccountNumber': '588000016832547', 'pyID': 'TD1', 'ForeignBureauCode': '', 'TradeBalance': '3239', 'RateCode': [{'Rating': '9'}], 'Phone': {'Extension': '', 'AreaCode': 0, 'PhoneNumber': ''}, 'AcctDesignatorCode': 'I', 'MemberName': 'CIBC CARD SERVICES', 'TwoMonthsPastDue': '00', 'MemberCode': '650ON00598', 'HighCredit': '1243'}, {'DateOpened': '20190201', 'AutoDataInd': '', 'MonthPastDue': '00', 'DateReported': '20191101', 'SegmentID': 'TC', 'NoOfMthsReviewed': '01', 'Terms': '0302', 'ThreeMonthsPastDue': '01', 'NarrativeCode': ['EX', 'AZ'], 'PastDueAmount': '0', 'AccountType': 'R', 'DateLastActivity': '20191001', 'AccountNumber': '1231320230123', 'pyID': 'TD5', 'ForeignBureauCode': '', 'TradeBalance': '0202', 'RateCode': [{'Rating': '4'}], 'Phone': {'Extension': '', 'AreaCode': 800, 'PhoneNumber': '2672482'}, 'AcctDesignatorCode': 'I', 'MemberName': 'TOTAL CREDIT RECOVER', 'TwoMonthsPastDue': '00', 'MemberCode': '481YC00382', 'HighCredit': '5002'}], 'MonthsToCountMaxDel': '', 'Inquiries': [{'pyID': 'IQ5', 'NameOfMember': 'BIZ2CREDIT INC.', 'SegmentID': 'IQ', 'Phone': {'Extension': '', 'AreaCode': 212, 'PhoneNumber': '6444555'}, 'DateOfInquiry': '20191002', 'MemberCode': '999ZZ02356'}, {'pyID': 'IQ8', 'NameOfMember': 'ROUTEONE LLC', 'SegmentID': 'IQ', 'Phone': {'Extension': '', 'AreaCode': 248, 'PhoneNumber': '4557075'}, 'DateOfInquiry': '20190901', 'MemberCode': '999ZZ01762'}, {'pyID': 'IQ14', 'NameOfMember': 'NOVA CREDIT INC', 'SegmentID': 'IQ', 'Phone': {'Extension': '', 'AreaCode': 844, 'PhoneNumber': '4231345'}, 'DateOfInquiry': '20190801', 'MemberCode': '999ZZ01564'}], 'InFileSince': '20191114', 'CreditFileWarning': '', 'ConsumerReferralCode': '190', 'SegmentCounters': '01000000000001000000000002000100000000000000040000000000030002', 'CBScore': [{'CBReasonCode': [{'ReasonCode': '38'}, {'ReasonCode': '13'}, {'ReasonCode': '02'}, {'ReasonCode': '20'}], 'Score': '00600', 'ProductCode': 'BN', 'SegmentID': 'BS', 'RejectMsgCode': ''}, {'CBReasonCode': [{'ReasonCode': '03'}, {'ReasonCode': '77'}, {'ReasonCode': '56'}, {'ReasonCode': 'S0'}], 'Score': '00865', 'ProductCode': 'BI', 'SegmentID': 'BS', 'RejectMsgCode': ''}], 'ProductHeader': {'ProductCode': ''}, 'LanguageInd': 'E', 'MonthsToCountInquiry': '', 'SafeScanCode': '0', 'CBRProvider': 'EQ', 'TransactionControl': {'TransactionTime': '', 'pyCountry': '', 'LanguageInd': '', 'IndustryCode': '', 'BureauMarket': '', 'ReferenceNum': '', 'BureauSubmarket': '', 'VersionSwitch': '', 'MemberCode': '', 'TransactionDate': ''}, 'MemberCode': '999BB01335', 'Bankruptcy': [{'CourtName': 'OFF SUP BKRPT', 'CourtNumber': '473VS00181', 'SegmentID': 'BP', 'NarrativeCode': ['', ''], 'DateFiled': '20191201', 'TypeOfBankruptcy': 'I', 'DateSettled': '', 'pyID': 'BP10', 'ForeignBureauCode': '', 'AssetsValue': '03000', 'LiabilityAmount': '08000', 'CaseNumber': 'ROSEHIPS AND MINT TRUSTEES', 'HowFiled': 'S', 'DispositionCode': 'B'}, {'CourtName': 'OFF SUP BKRPT', 'CourtNumber': '473VS00181', 'SegmentID': 'BP', 'NarrativeCode': ['', ''], 'DateFiled': '20170501', 'TypeOfBankruptcy': 'I', 'DateSettled': '', 'pyID': 'BP13', 'ForeignBureauCode': '', 'AssetsValue': '03000', 'LiabilityAmount': '08000', 'CaseNumber': 'BUBBLEGUM PARFAIT', 'HowFiled': 'S', 'DispositionCode': 'B'}], 'NumOfDependents': '', 'ReferenceNumber': 'BNISFN', 'HitOrNoHit': '1', 'CBRClientDetails': {'DateOfBirth': '19470420', 'pyNameSuffix': '', 'pyFirstName': 'JALISA', 'Address': [{'PostalAddress': {'IndCode': 'C', 'RentOwnBoard': '', 'StreetNumber': '35', 'Street': '35 HUMBER RD', 'PostalCode': 'A2H1E4', 'City': 'CRBK', 'Province': 'NL'}, 'SegmentID': 'CA', 'PostalAddressDemographic': {'MovedInDate': '20200201'}}], 'pySSN': '', 'SpouseInfo': {'pyFirstName': '', 'pySSN': ''}, 'MiddleName': '', 'pyLastName': 'TESTALBRITTON'}, 'DateLastActivity': '20200128', 'OtherSubjectInfo': {'EmploymentInfo': [{'CompanyName': '', 'VerificationStatus': '', 'Salary': '', 'DateReported': '', 'SegmentID': 'ES', 'EmpStDate': '', 'EmpEndDate': '', 'OccupationID': 'STS TEST', 'CompanyAddressInfo': {'PostalAddress': {'City': '', 'Province': ''}}}]}, 'NumOfInquiries': '', 'MaritalStatus': 'N', 'ECOAInquiryType': 'I', 'RetrievalTimeStamp': '20200206T130438.000 GMT', 'SecuredLoan': [{'pyID': 'SL3', 'ForeignBureauCode': '', 'CourtName': 'METCREDIT 8887977727', 'CourtNumber': '650YC00066', 'IndustryCode': 'FM', 'SegmentID': 'FM', 'NarrativeCode': ['', ''], 'MaturityDate': '20180401', 'CredNameAddrAmt': 'R U BIXCUBE GEOMETRY SERVICES', 'DateFiled': '20180601'}], 'MultipleFileInd': '0', 'CardAlertFlag': ''}, 'TotalHHIncomeMthly': 7000.0, 'IncomeReviewIndicator': None, 'AnalyticProfile': {'TotalNoRSMProdSvcs': None, 'RBSSResponseCode': '200.00000', 'PBISIndicator': '', 'TRIScore': None, 'VIPCCIndicator': '', 'CustomerNet1stAccPeriod': 0, 'SecurityIndicator': ''}, 'ChannelList': [{'VendorId': 'P'}], 'DateOfBirth': '19470420', 'FirstServiceDate': '20170929', 'OccCombCode': '0163', 'SpouseHHIncomeMthly': 4000.0, 'pySSN': '765456637', 'IsSelfEmployed': 'N', 'Duration': '0709', 'TotalPerIncomeMthly': 3000.0, 'OtherIncome': 4000.0, 'CheqAcctRef': '', 'ResidentialStatus': 'O', 'TotalMthlyLiabAmt': None, 'ServicedByIndicator': '0', 'pxSubscript': 'ECIF2106147717', 'SpouseHHIncomeYrly': 48000}}

In [9]:
dt = json_normalize(data['Product'])

C:\Users\sreek\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

In [10]:
print(dt)

            PropID ProductCodeType  RPOCSequenceID ProductCode IsPreApproved  \
0  500000000530297              VA               1        VWVA

  StrategyID          CaseID RequestedLimit AlternativeFeeIndicator  \
0             SO-20020680007           None                       N

  ProductCodeInd CardsSrcCode TreatmentID VendorRefNo
0             VW         None           1   610000000

In [11]:
dtt = pd.DataFrame(dt)

In [12]:
dtt.head(1)

,PropID,ProductCodeType,RPOCSequenceID,ProductCode,IsPreApproved,StrategyID,CaseID,RequestedLimit,AlternativeFeeIndicator,ProductCodeInd,CardsSrcCode,TreatmentID,VendorRefNo
0,500000000530297,VA,1,VWVA,,,SO-20020680007,None,N,VW,None,1,610000000

In [13]:
dt.head(1)

,PropID,ProductCodeType,RPOCSequenceID,ProductCode,IsPreApproved,StrategyID,CaseID,RequestedLimit,AlternativeFeeIndicator,ProductCodeInd,CardsSrcCode,TreatmentID,VendorRefNo
0,500000000530297,VA,1,VWVA,,,SO-20020680007,None,N,VW,None,1,610000000

In [14]:
type(dt)

pandas.core.frame.DataFrame

In [15]:
ecif = json_normalize(data,'ClientDetails')

C:\Users\sreek\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

In [16]:
print(ecif)

                0
0  ECIF2106147717

In [17]:
print(data['ClientDetails'].ecif)

AttributeError: 'dict' object has no attribute 'ecif'

In [18]:
df = pd.DataFrame(data)

In [19]:
df.head(10)

,ClientDetails,pyCreateDate,Product,ChannelType
ECIF2106147717,{'Address': [{'PostalAddress': {'PostalCode': ...,20200206,NaN,B
PropID,NaN,20200206,500000000530297,B
ProductCodeType,NaN,20200206,VA,B
RPOCSequenceID,NaN,20200206,1,B
ProductCode,NaN,20200206,VWVA,B
IsPreApproved,NaN,20200206,,B
StrategyID,NaN,20200206,,B
CaseID,NaN,20200206,SO-20020680007,B
RequestedLimit,NaN,20200206,None,B
AlternativeFeeIndicator,NaN,20200206,N,B

In [20]:
address = json_normalize(df.iloc[0]['ClientDetails']['Address'][0]['PostalAddress'])

C:\Users\sreek\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

In [21]:
print(address.head(1))

  PostalCode          City Province
0    A2H 1E4  CORNER BROOK       NL

In [66]:
add =  json_normalize(df.iloc[0]['ClientDetails'])

C:\Users\sreek\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

In [67]:
field_Main = ['ECIFID','TotalHHIncomeYrly','SaveAcctRef','TotalMthlyExpenses','TotalHHIncomeMthly','IncomeReviewIndicator','DateOfBirth','FirstServiceDate','OccCombCode','SpouseHHIncomeMthly','pySSN','IsSelfEmployed','Duration','TotalPerIncomeMthly','OtherIncome','CheqAcctRef','ResidentialStatus','TotalMthlyLiabAmt','ServicedByIndicator','pxSubscript','SpouseHHIncomeYrly']

In [68]:
final = add[field_Main]

In [70]:
final.to_excel("output.xlsx",
             sheet_name='primary')

In [51]:
type(add)

pandas.core.frame.DataFrame

In [40]:
add.CNW.IncomeList

AttributeError: 'DataFrame' object has no attribute 'CNW'

In [186]:
add.keys()

Index(['Address', 'ECIFID', 'TotalHHIncomeYrly', 'SaveAcctRef',
       'TotalMthlyExpenses', 'TotalHHIncomeMthly', 'IncomeReviewIndicator',
       'ChannelList', 'DateOfBirth', 'FirstServiceDate', 'OccCombCode',
       'SpouseHHIncomeMthly', 'pySSN', 'IsSelfEmployed', 'Duration',
       'TotalPerIncomeMthly', 'OtherIncome', 'CheqAcctRef',
       'ResidentialStatus', 'TotalMthlyLiabAmt', 'ServicedByIndicator',
       'pxSubscript', 'SpouseHHIncomeYrly', 'CNW.IncomeList',
       'EnrichedData.UpdateDate', 'EnrichedData.PhoneNumber',
       'EnrichedData.CustomerType', 'CBR.OutputFormatCode',
       'CBR.DepositAlertFlag', 'CBR.SegmentID', 'CBR.DateReported',
       'CBR.SafeScanCode2', 'CBR.TradeDetails', 'CBR.MonthsToCountMaxDel',
       'CBR.Inquiries', 'CBR.InFileSince', 'CBR.CreditFileWarning',
       'CBR.ConsumerReferralCode', 'CBR.SegmentCounters', 'CBR.CBScore',
       'CBR.ProductHeader.ProductCode', 'CBR.LanguageInd',
       'CBR.MonthsToCountInquiry', 'CBR.SafeScanCode', 'CBR.CBRProvider',
       'CBR.TransactionControl.TransactionTime',
       'CBR.TransactionControl.pyCountry',
       'CBR.TransactionControl.LanguageInd',
       'CBR.TransactionControl.IndustryCode',
       'CBR.TransactionControl.BureauMarket',
       'CBR.TransactionControl.ReferenceNum',
       'CBR.TransactionControl.BureauSubmarket',
       'CBR.TransactionControl.VersionSwitch',
       'CBR.TransactionControl.MemberCode',
       'CBR.TransactionControl.TransactionDate', 'CBR.MemberCode',
       'CBR.Bankruptcy', 'CBR.NumOfDependents', 'CBR.ReferenceNumber',
       'CBR.HitOrNoHit', 'CBR.CBRClientDetails.DateOfBirth',
       'CBR.CBRClientDetails.pyNameSuffix', 'CBR.CBRClientDetails.pyFirstName',
       'CBR.CBRClientDetails.Address', 'CBR.CBRClientDetails.pySSN',
       'CBR.CBRClientDetails.SpouseInfo.pyFirstName',
       'CBR.CBRClientDetails.SpouseInfo.pySSN',
       'CBR.CBRClientDetails.MiddleName', 'CBR.CBRClientDetails.pyLastName',
       'CBR.DateLastActivity', 'CBR.OtherSubjectInfo.EmploymentInfo',
       'CBR.NumOfInquiries', 'CBR.MaritalStatus', 'CBR.ECOAInquiryType',
       'CBR.RetrievalTimeStamp', 'CBR.SecuredLoan', 'CBR.MultipleFileInd',
       'CBR.CardAlertFlag', 'AnalyticProfile.TotalNoRSMProdSvcs',
       'AnalyticProfile.RBSSResponseCode', 'AnalyticProfile.PBISIndicator',
       'AnalyticProfile.TRIScore', 'AnalyticProfile.VIPCCIndicator',
       'AnalyticProfile.CustomerNet1stAccPeriod',
       'AnalyticProfile.SecurityIndicator'],
      dtype='object')

In [61]:
field_Main = ['ECIFID','TotalHHIncomeYrly','SaveAcctRef','TotalMthlyExpenses','TotalHHIncomeMthly','IncomeReviewIndicator','DateOfBirth','FirstServiceDate','OccCombCode','SpouseHHIncomeMthly','pySSN','IsSelfEmployed','Duration','TotalPerIncomeMthly','OtherIncome','CheqAcctRef','ResidentialStatus','TotalMthlyLiabAmt','ServicedByIndicator','pxSubscript','SpouseHHIncomeYrly']

In [ ]:
,'IncomeReviewIndicator','DateOfBirth','FirstServiceDate','OccCombCode','SpouseHHIncomeMthly','pySSN','IsSelfEmployed','Duration','TotalPerIncomeMthly','OtherIncome','CheqAcctRef','ResidentialStatus','TotalMthlyLiabAmt','ServicedByIndicator','pxSubscript','SpouseHHIncomeYrly

In [62]:
add.field_Main

AttributeError: 'DataFrame' object has no attribute 'field_Main'

,ECIFID,TotalHHIncomeYrly,SaveAcctRef,TotalMthlyExpenses,TotalHHIncomeMthly,IncomeReviewIndicator,DateOfBirth,FirstServiceDate,OccCombCode,SpouseHHIncomeMthly,...,IsSelfEmployed,Duration,TotalPerIncomeMthly,OtherIncome,CheqAcctRef,ResidentialStatus,TotalMthlyLiabAmt,ServicedByIndicator,pxSubscript,SpouseHHIncomeYrly
0,2106147717,84000.0,,242,7000.0,None,19470420,20170929,0163,4000.0,...,N,0709,3000.0,4000.0,,O,None,0,ECIF2106147717,48000

In [72]:
df.iloc[0].keys()

Index(['ClientDetails', 'pyCreateDate', 'Product', 'ChannelType'], dtype='object')

In [87]:
df[['ChannelType','pyCreateDate']]

                        ChannelType pyCreateDate
ECIF2106147717                    B     20200206
PropID                            B     20200206
ProductCodeType                   B     20200206
RPOCSequenceID                    B     20200206
ProductCode                       B     20200206
IsPreApproved                     B     20200206
StrategyID                        B     20200206
CaseID                            B     20200206
RequestedLimit                    B     20200206
AlternativeFeeIndicator           B     20200206
ProductCodeInd                    B     20200206
CardsSrcCode                      B     20200206
TreatmentID                       B     20200206
VendorRefNo                       B     20200206

In [74]:
prim = df.iloc[0]

In [80]:
prim_filed = ['ChannelType''pyCreateDate']

In [82]:
prim.prim_filed

AttributeError: 'Series' object has no attribute 'prim_filed'

In [117]:
prod = df[['Product']]

In [139]:
prod.drop([ecif_num])

                                 Product
PropID                   500000000530297
ProductCodeType                       VA
RPOCSequenceID                         1
ProductCode                         VWVA
IsPreApproved
StrategyID
CaseID                    SO-20020680007
RequestedLimit                      None
AlternativeFeeIndicator                N
ProductCodeInd                        VW
CardsSrcCode                        None
TreatmentID                            1
VendorRefNo                    610000000

In [143]:
prod.pivot(index=None, columns='Product', values=None)

Empty DataFrame
Columns: []
Index: [AlternativeFeeIndicator, CardsSrcCode, CaseID, ECIF2106147717, IsPreApproved, ProductCode, ProductCodeInd, ProductCodeType, PropID, RPOCSequenceID, RequestedLimit, StrategyID, TreatmentID, VendorRefNo]

In [132]:
ecif.values

array([['ECIF2106147717']], dtype=object)

In [136]:
ecif_num = ecif.values[0,0]

In [137]:
ecif_num

'ECIF2106147717'

In [155]:
create_date = data['pyCreateDate']

TypeError: string indices must be integers

In [169]:
other = pd.DataFrame({'pyCreateDate':data['pyCreateDate'],'ChannelType':[data['ChannelType']]})

In [170]:
other

  pyCreateDate ChannelType
0     20200206           B

In [167]:
new_df = pd.concat([other, final], axis=1, sort=False)

In [168]:
new_df

,pyCreateDate,ChannelType,ECIFID,TotalHHIncomeYrly,SaveAcctRef,TotalMthlyExpenses,TotalHHIncomeMthly,IncomeReviewIndicator,DateOfBirth,FirstServiceDate,...,IsSelfEmployed,Duration,TotalPerIncomeMthly,OtherIncome,CheqAcctRef,ResidentialStatus,TotalMthlyLiabAmt,ServicedByIndicator,pxSubscript,SpouseHHIncomeYrly
0,20200206,B,2106147717,84000.0,,242,7000.0,None,19470420,20170929,...,N,0709,3000.0,4000.0,,O,None,0,ECIF2106147717,48000

In [179]:
address = pd.json_normalize(df.iloc[0]['ClientDetails']['Address'])

In [177]:
type(address)

pandas.core.frame.DataFrame

In [178]:
address

  PostalAddress.PostalCode PostalAddress.City PostalAddress.Province
0                  A2H 1E4       CORNER BROOK                     NL

In [184]:
cnw = pd.json_normalize(df.iloc[0]['ClientDetails']['CNW']['IncomeList'])

In [185]:
cnw

  BizBankAcctRef BusinessType LengthOfEmp
0                                    0705

In [187]:
new_add = add.drop(['Address'], axis = 1)

In [191]:
EnrichedData = pd.json_normalize(df.iloc[0]['ClientDetails']['EnrichedData'])

In [193]:
AnalyticProfile = pd.json_normalize(df.iloc[0]['ClientDetails']['AnalyticProfile'])

In [195]:
ChannelList = pd.json_normalize(df.iloc[0]['ClientDetails']['ChannelList'])

In [196]:
ChannelList

  VendorId
0        P

In [192]:
"AnalyticProfile"

  UpdateDate PhoneNumber CustomerType
0                                   P

In [ ]:
"EnrichedData"

In [189]:
new_add.keys()

Index(['ECIFID', 'TotalHHIncomeYrly', 'SaveAcctRef', 'TotalMthlyExpenses',
       'TotalHHIncomeMthly', 'IncomeReviewIndicator', 'ChannelList',
       'DateOfBirth', 'FirstServiceDate', 'OccCombCode', 'SpouseHHIncomeMthly',
       'pySSN', 'IsSelfEmployed', 'Duration', 'TotalPerIncomeMthly',
       'OtherIncome', 'CheqAcctRef', 'ResidentialStatus', 'TotalMthlyLiabAmt',
       'ServicedByIndicator', 'pxSubscript', 'SpouseHHIncomeYrly',
       'CNW.IncomeList', 'EnrichedData.UpdateDate', 'EnrichedData.PhoneNumber',
       'EnrichedData.CustomerType', 'CBR.OutputFormatCode',
       'CBR.DepositAlertFlag', 'CBR.SegmentID', 'CBR.DateReported',
       'CBR.SafeScanCode2', 'CBR.TradeDetails', 'CBR.MonthsToCountMaxDel',
       'CBR.Inquiries', 'CBR.InFileSince', 'CBR.CreditFileWarning',
       'CBR.ConsumerReferralCode', 'CBR.SegmentCounters', 'CBR.CBScore',
       'CBR.ProductHeader.ProductCode', 'CBR.LanguageInd',
       'CBR.MonthsToCountInquiry', 'CBR.SafeScanCode', 'CBR.CBRProvider',
       'CBR.TransactionControl.TransactionTime',
       'CBR.TransactionControl.pyCountry',
       'CBR.TransactionControl.LanguageInd',
       'CBR.TransactionControl.IndustryCode',
       'CBR.TransactionControl.BureauMarket',
       'CBR.TransactionControl.ReferenceNum',
       'CBR.TransactionControl.BureauSubmarket',
       'CBR.TransactionControl.VersionSwitch',
       'CBR.TransactionControl.MemberCode',
       'CBR.TransactionControl.TransactionDate', 'CBR.MemberCode',
       'CBR.Bankruptcy', 'CBR.NumOfDependents', 'CBR.ReferenceNumber',
       'CBR.HitOrNoHit', 'CBR.CBRClientDetails.DateOfBirth',
       'CBR.CBRClientDetails.pyNameSuffix', 'CBR.CBRClientDetails.pyFirstName',
       'CBR.CBRClientDetails.Address', 'CBR.CBRClientDetails.pySSN',
       'CBR.CBRClientDetails.SpouseInfo.pyFirstName',
       'CBR.CBRClientDetails.SpouseInfo.pySSN',
       'CBR.CBRClientDetails.MiddleName', 'CBR.CBRClientDetails.pyLastName',
       'CBR.DateLastActivity', 'CBR.OtherSubjectInfo.EmploymentInfo',
       'CBR.NumOfInquiries', 'CBR.MaritalStatus', 'CBR.ECOAInquiryType',
       'CBR.RetrievalTimeStamp', 'CBR.SecuredLoan', 'CBR.MultipleFileInd',
       'CBR.CardAlertFlag', 'AnalyticProfile.TotalNoRSMProdSvcs',
       'AnalyticProfile.RBSSResponseCode', 'AnalyticProfile.PBISIndicator',
       'AnalyticProfile.TRIScore', 'AnalyticProfile.VIPCCIndicator',
       'AnalyticProfile.CustomerNet1stAccPeriod',
       'AnalyticProfile.SecurityIndicator'],
      dtype='object')

In [275]:
CBR = pd.json_normalize(df.iloc[0]['ClientDetails']['CBR']['TradeDetails'])

In [279]:
CBR

,DateOpened,AutoDataInd,MonthPastDue,DateReported,SegmentID,NoOfMthsReviewed,Terms,ThreeMonthsPastDue,NarrativeCode,PastDueAmount,...,TradeBalance,RateCode,AcctDesignatorCode,MemberName,TwoMonthsPastDue,MemberCode,HighCredit,Phone.Extension,Phone.AreaCode,Phone.PhoneNumber
0,20120201,,00,20200101,TC,01,0066,00,"[EX, AZ]",0,...,0120,(1),I,DUO BANK,00,650ON42592,20000,,888,3316133
1,20080201,,00,20200101,TC,01,0066,00,"[EX, AZ]",0,...,0120,(1),I,DUO BANK,00,650ON42592,20000,,888,3316133
2,20160101,,00,20190201,TC,,2243,00,"[EX, AZ]",0,...,3239,(9),I,CIBC CARD SERVICES,00,650ON00598,1243,,0,
3,20190201,,00,20191101,TC,01,0302,01,"[EX, AZ]",0,...,0202,(4),I,TOTAL CREDIT RECOVER,00,481YC00382,5002,,800,2672482

In [224]:
CBR['RateCode'][0][0].values()

dict_values(['1'])

In [227]:
CBR['RateCode'] = CBR['RateCode'].apply(CBR['RateCode'][0][0].values())

TypeError: 'dict_values' object is not callable

In [234]:
CBR['RateCode']

0    [{'Rating': '1'}]
1    [{'Rating': '1'}]
2    [{'Rating': '9'}]
3    [{'Rating': '4'}]
Name: RateCode, dtype: object

In [263]:
CBR['Rate_Code'] = pd.DataFrame(CBR['RateCode']values())

SyntaxError: invalid syntax (<ipython-input-263-b00656566962>, line 1)

In [252]:
cbr

,OutputFormatCode,DepositAlertFlag,SegmentID,DateReported,SafeScanCode2,TradeDetails,MonthsToCountMaxDel,Inquiries,InFileSince,CreditFileWarning,...,CBRClientDetails.DateOfBirth,CBRClientDetails.pyNameSuffix,CBRClientDetails.pyFirstName,CBRClientDetails.Address,CBRClientDetails.pySSN,CBRClientDetails.SpouseInfo.pyFirstName,CBRClientDetails.SpouseInfo.pySSN,CBRClientDetails.MiddleName,CBRClientDetails.pyLastName,OtherSubjectInfo.EmploymentInfo
0,E,N,FULL,20200206,,"[{'DateOpened': '20120201', 'AutoDataInd': '',...",,"[{'pyID': 'IQ5', 'NameOfMember': 'BIZ2CREDIT I...",20191114,,...,19470420,,JALISA,"[{'PostalAddress': {'IndCode': 'C', 'RentOwnBo...",,,,,TESTALBRITTON,"[{'CompanyName': '', 'VerificationStatus': '',..."

In [278]:
CBR['RateCode']= CBR['RateCode'].apply(lambda x : x[0].values())

In [273]:
CBR[['Rate_Code','RateCode']]

  Rate_Code RateCode
0       (1)      (1)
1       (1)      (1)
2       (9)      (9)
3       (4)      (4)

In [281]:
inq = pd.json_normalize(df.iloc[0]['ClientDetails']['CBR']['Inquiries'])

In [283]:
inq.rename(columns={"pyID": "Inquiries.pyID","NameOfMember": "Inquiries.NameOfMember","SegmentID": "Inquiries.SegmentID","DateOfInquiry": "Inquiries.DateOfInquiry","MemberCode": "Inquiries.MemberCode","Phone.Extension": "Inquiries.Phone.Extension","Phone.AreaCode": "Inquiries.Phone.AreaCode","Phone.PhoneNumber": "Inquiries.Phone.PhoneNumber"} )

,Inquiries.pyID,Inquiries.NameOfMember,Inquiries.SegmentID,Inquiries.DateOfInquiry,Inquiries.MemberCode,Inquiries.Phone.Extension,Inquiries.Phone.AreaCode,Inquiries.Phone.PhoneNumber
0,IQ5,BIZ2CREDIT INC.,IQ,20191002,999ZZ02356,,212,6444555
1,IQ8,ROUTEONE LLC,IQ,20190901,999ZZ01762,,248,4557075
2,IQ14,NOVA CREDIT INC,IQ,20190801,999ZZ01564,,844,4231345

In [309]:
CBScore =  pd.json_normalize(df.iloc[0]['ClientDetails']['CBR']['CBScore'])

In [312]:
CBScore

       CBReasonCode  Score ProductCode SegmentID RejectMsgCode
0  [38, 13, 02, 20]  00600          BN        BS
1  [03, 77, 56, S0]  00865          BI        BS

In [293]:
CBScore['CBReasonCode'][0][0].values()

dict_values(['38'])

In [302]:
lis = pd.json_normalize(CBScore['CBReasonCode'][0]).ReasonCode.tolist()

In [303]:
lis

['38', '13', '02', '20']

In [301]:
lis.ReasonCode.tolist()

['38', '13', '02', '20']

In [311]:
CBScore['CBReasonCode'] = CBScore['CBReasonCode'].apply(lambda x : pd.json_normalize(x).ReasonCode.tolist())

In [313]:
ProductHeader = pd.json_normalize(df.iloc[0]['ClientDetails']['CBR']['ProductHeader'])

In [314]:
ProductHeader

  ProductCode
0

In [315]:
TransactionControl = pd.json_normalize(df.iloc[0]['ClientDetails']['CBR']['TransactionControl'])

In [316]:
TransactionControl

,TransactionTime,pyCountry,LanguageInd,IndustryCode,BureauMarket,ReferenceNum,BureauSubmarket,VersionSwitch,MemberCode,TransactionDate
0,,,,,,,,,,

In [317]:
Bankruptcy = pd.json_normalize(df.iloc[0]['ClientDetails']['CBR']['Bankruptcy'])

In [318]:
Bankruptcy

,CourtName,CourtNumber,SegmentID,NarrativeCode,DateFiled,TypeOfBankruptcy,DateSettled,pyID,ForeignBureauCode,AssetsValue,LiabilityAmount,CaseNumber,HowFiled,DispositionCode
0,OFF SUP BKRPT,473VS00181,BP,"[, ]",20191201,I,,BP10,,03000,08000,ROSEHIPS AND MINT TRUSTEES,S,B
1,OFF SUP BKRPT,473VS00181,BP,"[, ]",20170501,I,,BP13,,03000,08000,BUBBLEGUM PARFAIT,S,B

In [325]:
CBRClientDetails = pd.json_normalize(df.iloc[0]['ClientDetails']['CBR']['CBRClientDetails'])
CBRClientDetails = CBRClientDetails.drop(['Address'],axis = 1,errors='ignore')
CBRClientDetails_Add = pd.json_normalize(df.iloc[0]['ClientDetails']['CBR']['CBRClientDetails']['Address'])
CBRClientDetails_Full = pd.concat([CBRClientDetails,CBRClientDetails_Add],axis=1, sort=False)

In [326]:
CBRClientDetails_Full

,DateOfBirth,pyNameSuffix,pyFirstName,pySSN,MiddleName,pyLastName,SpouseInfo.pyFirstName,SpouseInfo.pySSN,SegmentID,PostalAddress.IndCode,PostalAddress.RentOwnBoard,PostalAddress.StreetNumber,PostalAddress.Street,PostalAddress.PostalCode,PostalAddress.City,PostalAddress.Province,PostalAddressDemographic.MovedInDate
0,19470420,,JALISA,,,TESTALBRITTON,,,CA,C,,35,35 HUMBER RD,A2H1E4,CRBK,NL,20200201

In [321]:
CBRClientDetails_Add = pd.json_normalize(df.iloc[0]['ClientDetails']['CBR']['CBRClientDetails']['Address'])

In [322]:
CBRClientDetails_Add

,SegmentID,PostalAddress.IndCode,PostalAddress.RentOwnBoard,PostalAddress.StreetNumber,PostalAddress.Street,PostalAddress.PostalCode,PostalAddress.City,PostalAddress.Province,PostalAddressDemographic.MovedInDate
0,CA,C,,35,35 HUMBER RD,A2H1E4,CRBK,NL,20200201

In [330]:
CBRClientDetails_name =   'CBRClientDetails.'+CBRClientDetails_Add.columns

In [331]:
CBRClientDetails_name

Index(['CBRClientDetails.SegmentID', 'CBRClientDetails.PostalAddress.IndCode',
       'CBRClientDetails.PostalAddress.RentOwnBoard',
       'CBRClientDetails.PostalAddress.StreetNumber',
       'CBRClientDetails.PostalAddress.Street',
       'CBRClientDetails.PostalAddress.PostalCode',
       'CBRClientDetails.PostalAddress.City',
       'CBRClientDetails.PostalAddress.Province',
       'CBRClientDetails.PostalAddressDemographic.MovedInDate'],
      dtype='object')

In [335]:
OtherSubjectInfo  = pd.json_normalize(df.iloc[0]['ClientDetails']['CBR']['OtherSubjectInfo']['EmploymentInfo'])

In [336]:
OtherSubjectInfo

,CompanyName,VerificationStatus,Salary,DateReported,SegmentID,EmpStDate,EmpEndDate,OccupationID,CompanyAddressInfo.PostalAddress.City,CompanyAddressInfo.PostalAddress.Province
0,,,,,ES,,,STS TEST,,

In [337]:
SecuredLoan = pd.json_normalize(df.iloc[0]['ClientDetails']['CBR']['SecuredLoan'])

In [338]:
SecuredLoan

,pyID,ForeignBureauCode,CourtName,CourtNumber,IndustryCode,SegmentID,NarrativeCode,MaturityDate,CredNameAddrAmt,DateFiled
0,SL3,,METCREDIT 8887977727,650YC00066,FM,FM,"[, ]",20180401,R U BIXCUBE GEOMETRY SERVICES,20180601

In [348]:
cbr_Bal_Full  = pd.json_normalize(df.iloc[0]['ClientDetails']['CBR'])

In [349]:
cbr_Bal_drop = ['TradeDetails','Inquiries','CBScore', 'Bankruptcy','SecuredLoan','ProductHeader.ProductCode', 'TransactionControl.TransactionTime',
       'TransactionControl.pyCountry', 'TransactionControl.LanguageInd',
       'TransactionControl.IndustryCode', 'TransactionControl.BureauMarket',
       'TransactionControl.ReferenceNum', 'TransactionControl.BureauSubmarket',
       'TransactionControl.VersionSwitch', 'TransactionControl.MemberCode',
       'TransactionControl.TransactionDate', 'CBRClientDetails.DateOfBirth',
       'CBRClientDetails.pyNameSuffix', 'CBRClientDetails.pyFirstName',
       'CBRClientDetails.Address', 'CBRClientDetails.pySSN',
       'CBRClientDetails.SpouseInfo.pyFirstName',
       'CBRClientDetails.SpouseInfo.pySSN', 'CBRClientDetails.MiddleName',
       'CBRClientDetails.pyLastName', 'OtherSubjectInfo.EmploymentInfo']

In [350]:
cbr_Bal = cbr_Bal_Full.drop(cbr_Bal_drop, axis = 1,errors='ignore')

In [376]:
prod

                                 Product
ECIF2106147717                       NaN
PropID                   500000000530297
ProductCodeType                       VA
RPOCSequenceID                         1
ProductCode                         VWVA
IsPreApproved
StrategyID
CaseID                    SO-20020680007
RequestedLimit                      None
AlternativeFeeIndicator                N
ProductCodeInd                        VW
CardsSrcCode                        None
TreatmentID                            1
VendorRefNo                    610000000

In [374]:
prod[7:8][1:2]

Empty DataFrame
Columns: [Product]
Index: []

In [390]:
caseid = prod.loc['CaseID'].tolist()[0]

In [391]:
caseid

'SO-20020680007'